In [ ]:
#Librerías
import pandas as pd

## Tabla Final

A continuación cargamos todas las tablas que vamos a emplear para el modelo de atribución:

In [5]:
df_web = pd.read_csv("../data/raw/web.csv", sep=",")
df_offline = pd.read_csv("../data/raw/offline.csv", sep=",")
df_time = pd.read_csv("../data/raw/time.csv", sep=",")
df_visit = pd.read_csv("../data/raw/visit.csv", sep=",")
df_inv = pd.read_csv("../data/raw/inv.csv", sep=",")

**Tabla Inversión**

In [4]:
df_inv = pd.read_csv("../data/raw/inv.csv", sep=",")
df_inv.head()

,ID_Date,CINE,EXTERIOR,INTERNET,PRENSA,PRODUCCION,RADIO,REVISTAS,PlataformasVideo,VARIOS,INV_Total
0,202201,59887.84,8200.00,133666.43,0.0,6050.0,2426.40,18013.50,338824.94,7531.03,574600.14
1,202202,72291.56,94627.51,189275.94,10000.0,6700.0,0.00,49110.91,487537.14,6972.02,916515.08
2,202203,55000.00,0.00,214037.62,4500.0,3700.0,0.00,0.00,75000.00,15284.85,367522.47
3,202204,10883.30,0.00,194816.97,48800.0,21550.0,1140.00,40876.00,610865.89,12255.75,941187.91
4,202205,74333.20,0.00,130795.16,11000.0,4900.0,102851.86,20775.75,393807.74,7926.46,746390.17

Se han generado las siguientes métricas a partir de la tabla de inversión mensual(de cara a facilitar la evaluación del budget):

- `Pct_Online`: porcentaje de la inversión total del mes destinada a medios online.
- `Pct_Offline`: porcentaje de la inversión total del mes destinada a medios offline.

In [2]:

# online
inversion_online = df_inv['INTERNET'] + df_inv['PlataformasVideo']

# offline
inversion_offline = (
    df_inv['CINE'] + df_inv['EXTERIOR'] + df_inv['PRENSA'] + df_inv['RADIO'] +
    df_inv['REVISTAS'] + df_inv['PRODUCCION'] + df_inv['VARIOS']
)

# porcentaje de cada tipo de inv/total_inv
df_inv['Pct_Online'] = inversion_online / df_inv['INV_Total']
df_inv['Pct_Offline'] = inversion_offline / df_inv['INV_Total']

In [3]:
df_inv.head()

,ID_Date,CINE,EXTERIOR,INTERNET,PRENSA,PRODUCCION,RADIO,REVISTAS,PlataformasVideo,VARIOS,INV_Total,Pct_Online,Pct_Offline,Check_Sum
0,202201,59887.84,8200.00,133666.43,0.0,6050.0,2426.40,18013.50,338824.94,7531.03,574600.14,0.822296,0.177704,1.0
1,202202,72291.56,94627.51,189275.94,10000.0,6700.0,0.00,49110.91,487537.14,6972.02,916515.08,0.738464,0.261536,1.0
2,202203,55000.00,0.00,214037.62,4500.0,3700.0,0.00,0.00,75000.00,15284.85,367522.47,0.786449,0.213551,1.0
3,202204,10883.30,0.00,194816.97,48800.0,21550.0,1140.00,40876.00,610865.89,12255.75,941187.91,0.856028,0.143972,1.0
4,202205,74333.20,0.00,130795.16,11000.0,4900.0,102851.86,20775.75,393807.74,7926.46,746390.17,0.702853,0.297147,1.0

**Merge para Tabla Final**

In [ ]:
# Realizamos el merge de todas las tablas
df_merge = df_inv.merge(df_web, on='ID_Date')
df_merge = df_merge.merge(df_offline, on='ID_Date')
df_merge = df_merge.merge(df_time, on='ID_Date')
df_merge = df_merge.merge(df_visit, on='ID_Date')


df_merge = df_merge.sort_values('ID_Date')
# Calcualamos el Delay de Unique Vistors
df_merge['Unique_visitors_t_1'] = df_merge['Unique_visitors'].shift(1) # mes pasado
df_merge['Unique_visitors_t_2'] = df_merge['Unique_visitors'].shift(2)# dos meses atras